
body
{
	margin: 0px;
	padding: -20px;
}

h1 {
	color:rgb(0, 100, 0); 
    font-size:50px; 
    font-family:helvetica; 
}

h2 {
	color:rgb(160, 32, 240); 
    font-size:20px; 
    font-family:helvetica;
}

p {
	color:rgb(0, 0, 0); 
    font-size:15px;
    font-family:garamond;
}

@media screen and (max-width: 1024px) 
@media screen and (max-width: 768px) 
@media screen and (max-width: 600px) 
@media screen and (max-width: 480px) 
@media screen and (max-width: 320px) 
