
body
{
	margin: 50px;
	padding: 10px;
}

h1 {
	color:rgb(0, 100, 0); 
    font-size:90px; 
    font-family:helvetica; 
}

h2 {
	color:rgb(224, 176, 255); 
    font-size:30px; 
    font-family:helvetica;
}

p {
	color: rgb(0, 0, 0);
	font-size: 15px;
	font-family: helvetica;
	line-height: 1.6;
}

/* 1024px: green / lavender / black */
@media screen and (max-width: 1024px) {
	h1 {
		font-size: 72px;
		font-family: Helvetica, Arial, sans-serif;
		color: rgb(0, 100, 0);
	}
	h2 {
		font-size: 26px;
		color: rgb(224, 176, 255);
	}
	p {
		font-size: 15px;
		line-height: 1.6;
		color: rgb(0, 0, 0);
	}
}

/* 768px: dark blue / coral / slate */
@media screen and (max-width: 768px) {
	h1 {
		font-size: 52px;
		font-family: Helvetica, Arial, sans-serif;
		color: rgb(25, 55, 120);
	}
	h2 {
		font-size: 22px;
		color: rgb(220, 100, 80);
	}
	p {
		font-size: 14px;
		line-height: 1.6;
		color: rgb(55, 60, 70);
	}
}

/* 600px: purple / teal / brown */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 42px;
		font-family: Helvetica, Arial, sans-serif;
		color: rgb(100, 50, 140);
	}
	h2 {
		font-size: 20px;
		color: rgb(0, 130, 130);
	}
	p {
		font-size: 14px;
		line-height: 1.65;
		color: rgb(80, 55, 45);
	}
}

/* 480px: crimson / gold / navy */
@media screen and (max-width: 480px) {
	h1 {
		font-size: 32px;
		font-family: Helvetica, Arial, sans-serif;
		color: rgb(160, 35, 50);
	}
	h2 {
		font-size: 18px;
		color: rgb(180, 140, 40);
	}
	p {
		font-size: 13px;
		line-height: 1.65;
		color: rgb(25, 40, 80);
	}
}

/* 320px: dark teal / orange / dark green */
@media screen and (max-width: 320px) {
	h1 {
		font-size: 26px;
		font-family: Helvetica, Arial, sans-serif;
		color: rgb(0, 90, 95);
	}
	h2 {
		font-size: 16px;
		color: rgb(220, 120, 50);
	}
	p {
		font-size: 12px;
		line-height: 1.7;
		color: rgb(30, 70, 50);
	}
}
